.PicBlock {
  border-radius: none;
}
.coverContainer {
  position: relative;
  :global(.shadow) {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    button {
      border: 1px solid rgba(255,255,255,0.08);
      border-radius: 50%;
      background: rgba(255,255,255,0.14);
      color: white;
      backdrop-filter: blur(8px);
      width: 22%;
      height: 22%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
      transition: 0.2s;
      &:hover {
        background: rgba(255, 255, 255, 0.28);
      }
      &:active {
        transform: scale(0.94);
      }
    }
  }

  img {
    width: 100%;
    border-radius: 0.75em;
    user-select: none;
    border: 1px solid rgba( 0, 0, 0, 0.4);
  }
}

.atristBlock {
  border-radius: 50%;
  overflow: hidden;
}