.DailyTracksCard {
  border-radius: 1rem;
  height: 198px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: move 38s infinite;
    animation-direction: alternate;
    z-index: -1;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}