.homePage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 64px 10vw 96px 10vw;
  box-sizing: border-box;
}

.homeContent {
  margin-top: 32px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.titleRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 78px;
}