.TopNav {
  position: fixed;
  height: 64px;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  z-index: 100;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--color-navbar-bg);
  nav {
    display: flex;
    width: 100%;
  }
  Button {
    border: none;
    cursor: pointer;
  }
}

.navigationButtons {
  flex: 1;
  display: flex;
}

.linkNav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  a {
    -webkit-app-region: no-drag;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
    padding: 6px 10px;
    color: var(--color-text);
    transition: 0.2s;
    -webkit-user-drag: none;
    margin-right: 12px;
    margin-left: 12px;
    &:hover {
      text-decoration: none;
      background: var(--color-secondary-bg-for-transparent);
    }
  }
}

.rightPart {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container {
  display: flex;
  align-items: center;
  height: 32px;
  background: var(--color-secondary-bg-for-transparent);
  border-radius: 8px;
  width: 200px;
  input {
    border: none;
    background-color: transparent;
  }
  :global(.svg-icon) {
    color:var(--color-text);
    margin-left:10px;
    margin-right:4px;
    opacity:0.28;
    width:15px;
    height:15px
  }
}

.searchInput {
  font-weight: 700;
  text-decoration: none;
}

.active {
  composes: container;
  background: var(--color-primary-bg-for-transparent);
  input,
  :global(.svg-icon) {
    opacity: 1;
    color: var(--color-primary);
  }
}

.avatar {
  user-select: none;
  height: 30px;
  margin-left: 12px;
  vertical-align: -7px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
  &:hover {
    filter: brightness(80%);
  }
}